{{ partial "head" . }}

{{ partial "header" . }}

    <section id="main-content">
      <h3>Recent Posts</h3>
      {{ range first 5 .Data.Pages }}
	{{ if eq .Type "post"}}
	  <div class="post-summary">
	    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
	    <p>{{ .Date.Format "Jan 2, 2006" }}<p>
	    <p>{{ .Summary }} <span class="read-more"><a href="{{ .RelPermalink }}">... Read More ...</a></span></p>
	  </div>
	{{ end }}
      {{ end }}
      <a href="post/">View All Posts</a>
    </section>
      

{{ partial "sidebar" . }}

{{ partial "footer" . }}

{{ partial "foot" . }}
