<h4>About Me</h4>
<p>
  Hello, I'm Justin Carver.  I'm a Software Developer working in Louisville, KY. 
  Stick around a bit and ready my posts, or check out more about me 
  <a href="{{ .RelRef "about.md" }}">here</a> and at my social media.
</p>

<h4>Social</h4>
<ul>
  <li><a href="https://twitter.com/itsjustcarver">Twitter</a></li>
  <li><a href="https://www.instagram.com/itsjustcarver/">Instagram</a></li>
  <li><a href="https://www.linkedin.com/in/justincarver/">GitHub</a></li>
  <li><a href="https://github.com/justcarver">LinkedIn</a></li>
</ul>
