{{ partial "page-start" . }}

{{ partial "header" . }}

    <div class="main-containter">
      <section class="main-content">
	<h3 class="section-header">{{ .Title }}</h3>
	<div class="article-content">
	  {{ .Content }}
	</div>
	{{ if ne .Type "page" }}
	<div class="article-meta-data">
	  <h4 class="article-date"> {{ .Date.Format "Mon Jan 2, 2006" }}</h4>
	</div>
	{{ end }}

	<div class="category-navigation">
	    {{ if .PrevInSection }}
	      <a class="previous-post-link" href="{{.PrevInSection.Permalink}}" title="{{.PrevInSection.Title}}">Prev : {{.PrevInSection.Title}}</a>
	    {{ end }}
	    {{ if .NextInSection }}
	      <a class="next-post-link" href="{{.NextInSection.Permalink}}" title="{{.NextInSection.Title}}">{{.NextInSection.Title}} : Next}</a>
	    {{ end }}
	</div>
      </section>

      {{ partial "sidebar" . }}

    </div>

{{ partial "footer" . }}

{{ partial "page-end" . }}
