
//Colors
$white: #FFFFFF;
$black: #000000;

$eerieblack: #0D1B1E;
$bdasszledblue: #235789;
$palecarmine: #BB4430;
$turqoise: #41EAD4;
$registrationblack: #020100;

// Font related
$text-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$code-font-stack: 'Hack', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
