
//Colors
$white: #FFFFFF;
$black: #000000;

$lightest: #00A8E8;
$light: #007EA7;
$dark: #003459;
$darkest: #00171F;


// Font related
$text-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$code-font-stack: 'Hack', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
