
//Colors

$greenblack: #0D1B1E;
$blue: #235789;
$orange: #BB4430;
$lightblue: #41EAD4;
$black: #020100;

// Font related
$text-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$code-font-stack: 'Hack', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
