footer {
  background-color: $darkest;
  color: $white;
  font-size: .8rem;
  padding: 12px;

  p {
    text-align: center;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 0px 24px;
    text-decoration: none;
    font-size: 3rem;
    color: $light;

    &:hover {
      color: $lightest;
    }
  }
}
