header {
  background-image: url(/img/awesome_louisville.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: $darkest;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-logo {
  width: 100px;

  path {
    fill: $white;
  }
}

.page-title-text {
  display: inline-block;
  vertical-align: center;
}

.page-title-text .title {
  margin: 6px;
  font-size: 1.5rem;
  font-family: $code-font-stack;
}

.main-nav {
  display: flex;
  justify-content:center;
  align-items: bottom;
  background-color: $darkest;
  font-size: 1rem;

  a {
    color: $white;
    text-decoration: none;
    padding: 12px 12px;

    &:hover {
      background-color: $lightest;
    }
    
    &.active {
      background-color: $light;

      &:hover {
	background-color: $lightest;
      }
    }
  }

}

@media (min-width: 450px) {
  .main-nav {
    font-size: 1.2rem;

    a {
      padding: 12px 24px;
    }
  }
}
