header {
  background-image: url(/img/awesome_louisville.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFFFF;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-logo {
  width: 100px;

  path {
    fill: #FFFFFF;
  }
}

.page-title-text {
  display: inline-block;
  vertical-align: center;
}

.page-title-text .title {
  margin: 6px;
  font-size: 1.5rem;
  font-family: $code-font-stack;
}

.page-title-text .subtitle {
  margin: 6px;
  font-size: 1.25rem;
}

.main-nav {
  display: flex;
  justify-content:space-around;
  align-items: bottom;
  background-color: #000000;
  font-size: 1.2rem;

  a {
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;

    &:hover {
      background-color: #333333;
    }
    
    &.active {
      background-color: #FFFFFF;
      color: #000000;

      &:hover {
	background-color: #BBBBBB;
      }
    }
  }

}

