.main-containter {
  padding: 12px;
  max-width: 1000px;
  margin: auto;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.article {
  border-color: grey;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  padding: 6px;
  padding-left: 30px;
  margin-bottom: 12px;
  position:relative;

  &::after {
    content: "";
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    right: 12px;
    z-index: -50;
    color: rgba(0,0,0,0.2);
    font-size: 100px;
    transform: translateY(-50%);
  }

  .article-title {
    display: inline-block;
  }

  .article-date {
    display: inline-block;
    float: right;
  }
}

.article-post::after {
  content: "\f10e";
}

.article-project::after {
  content: "\f121";
}

nav.view-all {
  display: flex;
  justify-content: space-around;
}

@media all and (min-width: 800px) {
  section.main-content {
    float: left;
    width: 75%;
  }
  section.sidebar {
    float: right;
    width: 20%;
  }
}
