<section class="sidebar">
  <h4>Treehouse Statistics</h4>
  <div class="treehouse-statistics">
    <label>Search for username: <input id="treehouse-username-search" type="text" value="justincarver" /></label>
    <button id="search-treehouse">Search</button>
    <h4><span id="treehouse-username">justcarver</span>'s Statistics</h4>
    <h5><span id="treehouse-total">0</span> points earned</h5>
    <div id="pieChart" class="pieChart">
      <div id="pie" class="pie"></div>
      <div id="legend" class="legend"></div>
    </div>
    <div id="badge-display" class="badge-display">

    </div>
    <div id="loader" class="loader">
      Loading...
    </div>
  </div>
</section>
