{{ partial "page-start" . }}

{{ partial "header" . }}

<div class="main-containter">
  <section class="main-content">
    <h3 class="section-header">Recent Articles</h3>
    {{ range first 5 .Data.Pages }}
      {{ if ne .Type "page"}}
	<div class="article">
	  <h2 class="article-title"><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
	  <div class="article-date">{{ .Date.Format "Jan 2, 2006" }}</div>
	  <p class="article-summary">{{ .Summary }}</p>
	  <div class="article-more">
	    <a href="{{ .RelPermalink }}" title="Read More">... Read More ...</a>
	  </div>
	  <div class="article-icon">
	    {{ if eq .Type "project" }}
	    <!-- <i class="far fa-code"></i> -->
	    {{ else if eq .Type "post" }}
	    <!-- <i class="fas fa-quote-right"></i> -->
	    {{ end }}
	  </div>
	</div>
      {{ end }}
    {{ end }}
    <nav class="view-all">
      <a href="post/" title="View All Posts">View All Posts</a>
      <a href="project/" title="View All Projects">View All Projects</a>
    </nav>
  </section>

  {{ partial "sidebar" . }}

</div>

{{ partial "footer" . }}

{{ partial "page-end" . }}
